<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

  <arg name="basepath" value="."/>
  <arg name="cache" value=".phpcs-cache"/>
  <arg name="colors"/>
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,info,txt"/>

  <exclude-pattern>*\.(md|info\.yml)$</exclude-pattern>>
  <exclude-pattern>*/vendor/*</exclude-pattern>>

  <rule ref="./vendor/drupal/coder/coder_sniffer/Drupal">
    <exclude name="MySource.Debug.DebugCode" />
    <exclude name="Squiz.CSS" />
    <exclude name="Drupal.CSS" />
    <exclude name="Squiz.WhiteSpace.LanguageConstructSpacing" />
  </rule>
  <rule ref="./vendor/drupal/coder/coder_sniffer/DrupalPractice"/>

  <file>./web/modules/custom</file>
  <file>./behat</file>
</ruleset>
