parameters:
  # Ignore tests
  excludePaths:
    - *Test.php
    - *TestBase.php
    - web/themes/contrib/*
  # PHPStan Level 1
  level: 1

  ignoreErrors:
    # Ignore Drupal Hack using static method ::create for Dependency Injection.
    - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
    - '#Unsafe usage of new static#'
