<?xml version="1.0" encoding="UTF-8"?>
<!-- TODO set checkForUnintentionallyCoveredCode="true" once https://www.drupal.org/node/2626832 is resolved. -->
<!-- PHPUnit expects functional tests to be run with either a privileged user
 or your current system user. See core/tests/README.md and
 https://www.drupal.org/node/2116263 for details.
-->
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="web/core/tests/bootstrap.php"
  colors="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutChangesToGlobalState="true"
  failOnRisky="true"
  failOnWarning="true"
  failOnPhpunitWarning="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  cacheResult="false"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
  cacheDirectory=".phpunit.cache">
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="http://gos.test"/>
    <env name="SIMPLETEST_DB" value="mysql://drupal:drupal@db/drupal_test"/>
    <!-- Example SIMPLETEST_IGNORE_DIRECTORIES value: build,dev_module -->
    <env name="SIMPLETEST_IGNORE_DIRECTORIES" value=""/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/var/www/web/sites/simpletest/browser_output"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
  </php>
  <!-- Default groups. -->
  <groups>
    <include>
      <group>gos</group>
    </include>
    <exclude>
      <group>gos_functional</group>
    </exclude>
  </groups>
  <extensions>
    <!-- Functional tests HTML output logging. -->
    <bootstrap class="Drupal\TestTools\Extension\HtmlLogging\HtmlOutputLogger">
      <parameter name="outputDirectory" value="web/sites/simpletest/browser_output"/>
      <parameter name="verbose" value="true"/>
    </bootstrap>
    <!-- Debug dump() printer. -->
    <bootstrap class="Drupal\TestTools\Extension\Dump\DebugDump">
      <parameter name="colors" value="true"/>
      <parameter name="printCaller" value="true"/>
    </bootstrap>
  </extensions>
  <!-- Test suites. -->
  <testsuites>
    <testsuite name="unit-component">
      <directory>web/core/tests/Drupal/Tests/Component</directory>
    </testsuite>
    <testsuite name="unit">
      <directory>web/core/tests/Drupal/Tests</directory>
      <exclude>web/core/tests/Drupal/Tests/Component</exclude>
      <directory>web/core/modules/**/tests/src/Unit</directory>
      <directory>web/modules/**/tests/src/Unit</directory>
      <directory>web/modules/*/**/tests/src/Unit</directory>
      <directory>web/themes/**/tests/src/Unit</directory>
      <directory>web/themes/*/**/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>web/core/tests/Drupal/KernelTests</directory>
      <directory>web/core/modules/**/tests/src/Kernel</directory>
      <directory>web/modules/**/tests/src/Kernel</directory>
      <directory>web/modules/*/**/tests/src/Kernel</directory>
      <directory>web/themes/**/tests/src/Kernel</directory>
      <directory>web/themes/*/**/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>web/core/tests/Drupal/FunctionalTests</directory>
      <directory>web/core/modules/**/tests/src/Functional</directory>
      <directory>web/modules/**/tests/src/Functional</directory>
      <directory>web/modules/*/**/tests/src/Functional</directory>
      <directory>web/themes/**/tests/src/Functional</directory>
      <directory>web/themes/*/**/tests/src/Functional</directory>
    </testsuite>
    <testsuite name="functional-javascript">
      <directory>web/core/tests/Drupal/FunctionalJavascriptTests</directory>
      <directory>web/core/modules/**/tests/src/FunctionalJavascript</directory>
      <directory>web/modules/**/tests/src/FunctionalJavascript</directory>
      <directory>web/modules/*/**/tests/src/FunctionalJavascript</directory>
      <directory>web/themes/**/tests/src/FunctionalJavascript</directory>
      <directory>web/themes/*/**/tests/src/FunctionalJavascript</directory>
    </testsuite>
    <testsuite name="build">
      <directory>web/core/tests/Drupal/BuildTests</directory>
      <directory>web/core/modules/**/tests/src/Build</directory>
      <directory>web/modules/*/**/tests/src/Build</directory>
    </testsuite>
  </testsuites>
  <source ignoreSuppressionOfDeprecations="true">
    <include>
      <directory>./web/core/includes</directory>
      <directory>./web/core/lib</directory>
      <directory>./web/core/modules</directory>
      <directory>./web/modules</directory>
      <directory>./web/sites</directory>
    </include>
    <exclude>
      <directory>./web/core/modules/*/src/Tests</directory>
      <directory>./web/core/modules/*/tests</directory>
      <directory>./web/modules/*/src/Tests</directory>
      <directory>./web/modules/*/tests</directory>
      <directory>./web/modules/*/*/src/Tests</directory>
      <directory>./web/modules/*/*/tests</directory>
    </exclude>
  </source>
</phpunit>
