.d-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-auto-rows: auto;
  grid-column-gap: 20px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.d-flex > * {
  flex: 1 1 auto;
  margin-right: 15px;
}

.d-flex > *:last-child {
  margin-right: 0;
}

.icon-centered {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  white-space: nowrap;
}

.icon-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  border-radius: 10px;
}

.icon-circle.unpublished {
  background-color: orangered;
}

.icon-circle.development {
  background-color: cornflowerblue;
}

.icon-circle.canceled,
.icon-circle.danger {
  background-color: darkred;
}

.icon-circle.pre_release,
.icon-circle.warning {
  background-color: goldenrod;
}

.icon-circle.good {
  background-color: darkseagreen;
}

.icon-circle.published,
.icon-circle.released,
.icon-circle.excellent {
  background-color: limegreen;
}
