:root {
  --black: #121212;
  --white: #fff;
  --translucid: rgba(255, 255, 255, 0.3);
  --cell-size: 60px;
}

.body-front {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: var(--white);
  background-color: var(--black);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='60'><defs><clipPath id='plus'><rect x='29' y='26' width='1' height='7'/><rect x='26' y='29' width='7' height='1'/></clipPath></defs><rect fill='fff' fill-opacity='0.2' clip-path='url(plus)' width='100%' height='100%'/></svg>"), repeating-linear-gradient(transparent, transparent 29px, rgba(255, 255, 255, 0.1) 29px, rgba(255, 255, 255, 0.1) 30px, transparent 30px, transparent 60px), repeating-linear-gradient(to right, transparent, transparent 29px, rgba(255, 255, 255, 0.1) 29px, rgba(255, 255, 255, 0.1) 30px, transparent 30px, transparent 60px);
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.square {
  position: absolute;
  width: calc(var(--cell-size) - 1px);
  height: calc(var(--cell-size) - 1px);
  background-size: 400% 400%;
  background-image: repeating-linear-gradient(135deg, transparent, transparent 5px, rgba(255, 255, 255, 0.1) 5px, rgba(255, 255, 255, 0.1) 6px);
  -webkit-animation: slideBackground 5s linear infinite, scaleIn 50ms linear;
  animation: slideBackground 5s linear infinite, scaleIn 50ms linear;
  opacity: 1;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}
.square.dying {
  margin-top: calc(var(--cell-size) / 2);
  background-color: var(--translucid);
  height: 0;
}
.square.drawing {
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid #aaa;
}

@-webkit-keyframes slideBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes slideBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(100%);
    transform: scale(100%);
  }
}
@keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(100%);
    transform: scale(100%);
  }
}
.container-square {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.container-square .content {
  z-index: 1;
  pointer-events: none;
}

.text-display1 {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}

.body-front form {
  width: 50%;
  margin: 0 auto;
}

.body-front #block-gos-page-title {
  display: none;
}

.text-multicolor {
  background: -webkit-gradient(linear, left top, right top, from(#CE634D), color-stop(#CC4277), to(#5A31F4));
  background: linear-gradient(to right, #CE634D, #CC4277, #5A31F4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
